body{
    text-align: center;
    background-color: antiquewhite;
}
.exp{
    font-size: larger;
}

.titulo1{
    font-size: larger;
}

.titulo2{
    font-size: larger;
}

.titulo3{
    font-size: large;
}